main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.user-program-item-container header:hover {
    cursor: pointer;
}

.user-program-item-container header {
    background-color: rgb(224, 224, 224);
}

.progress-bar {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    height: 15px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar-completed {
    background-color: rgb(95, 199, 95);
}

.user-program-item-container {
    width: 100%;
}

.user-program-list-container {
    min-width: 300px;
    max-width: 900px;
    width: 50%;
}

.user-program-item-container header {
    display: flex;
    justify-content: space-between;
}

.user-task-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(192, 192, 192);
    height: 45px;
}

.fa-reg-check-square,
.fa-reg-square {
    font-size: 30px;
}

.fa-reg-check-square:hover,
.fa-reg-square:hover {
    cursor: pointer;
}


.user-task-is-completed-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-program-name {
    display: flex;
    align-items: center;
}

.user-task-item-name {
    display: flex;
    align-items: center;
}

.user-task-item-name h5 {
    font-size: 17px;
}