main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.progress-bar {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    height: 20px;
    border: 1px solid black;
}

.progress-bar-completed {
    background-color: green;
}

.user-program-item-container {
    width: 100%;
}

.user-program-list-container {
    min-width: 300px;
    max-width: 900px;
    width: 50%;
}

.user-program-item-container header {
    display: flex;
    justify-content: space-between;
}

.user-task-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(192, 192, 192)
}

.fa-reg-check-square,
.fa-reg-square {
    font-size: 30px;
}


.user-task-is-completed-container {
    display: flex;
    align-items: center;
    justify-content: center;
}