.browse-program-item {
    margin: 30px 100px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.browse-program-item:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(37, 37, 37);
}

.browse-header {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid rgb(37, 37, 37);
    padding: 10px;
}

.browse-description-container {
    padding: 10px;
}

.browse-page h1 {
    margin-left: 20px;
    color: rgb(44, 118, 255);
}