.create-spot-form {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    height: 500px;
    max-width: 900px;
    width: 50%;
}

.name-length-container div {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.name-length-container {
    display: flex;
}

.create-spot-form-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.create-spot-form-right {
    width: 50%;
}

.desc-container {
    display: flex;
    flex-direction: column;
}

.created-task-container {
    background-color: grey;
}

.tasks-container {
    width: 100%;
}