/* TODO: Add sitewide styles 8*/
body {
    background-color: #e9ecf1;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
label,
button,
div,
h6 {
    color: rgb(37, 37, 37);
    font-family: "Roboto", sans-serif;
}

button {
    background-color: rgb(44, 118, 255);
    color: white;
    border: 2px solid rgb(44, 118, 255); 
    border-radius: 15px;
}

button:hover {
    background-color: white;
    border: 2px solid rgb(44, 118, 255);
    color:  rgb(44, 118, 255);
}

button:hover {
    cursor: pointer;
}

span {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.error {
    margin: 0px;
    height: 0px;
    color: red;
    font-weight: 400;
}

.emblem {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* #seventy-five-hard {
    background-image: url('../../../public/emblem-images/75-hard.jpg');
}

#fourteen-flexibility{
    background-image: url('../../../public/emblem-images/14-flexibility.jpg');
}

#twentyone-mindfullness {
    background-image: url('../../../public/emblem-images/21-day-mindfullness.jpg');
}

#thirty-creative {
    background-image: url('../../../public/emblem-images/30-creative.jpg');
}

#tenthousand-steps {
    background-image: url('../../../public/emblem-images/10000-steps.jpg');
}

#fitness {
    background-image: url('../../../public/emblem-images/fitness.jpg');
}

#journaling {
    background-image: url('../../../public/emblem-images/journaling.jpg');
}

#seventy-five-soft {
    background-image: url('../../../public/emblem-images/75-soft.jpg');
}

#self-improvement {
    background-image: url('../../../public/emblem-images/self-improvement.jpg');
} */
