.profile-dropdown {
  position: absolute;
  right: 0;
  margin-right: 20px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid rgb(179, 179, 179);
  border-left: 1px solid rgb(179, 179, 179);
  border-right: 1px solid rgb(179, 179, 179);
  padding: 3px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(179, 179, 179);
  /* margin-bottom: 50px; */
  padding: 20px;
  padding-bottom: 0px;
}

.nav-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.logo-nav {
  font-size: 35px;
}

.logo-nav:hover span{
  color: rgb(44, 118, 255);
}

.logo-check-nav {
  font-size: 25px;
}

.current-nav-item h6 {
  color: rgb(44, 118, 255);
}

.nav-buttons-container div {
  height: 25px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  margin: 0px;
}

.nav-buttons-container div h6 {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}

.logo-nav :hover {
  cursor: pointer;
}

.nav-buttons-container div :hover {
  cursor: pointer;
}

.profile-dropdown p {
  margin: 10px;
  font-size: 18px;
}

.nav-clickables-container {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 1px solid black;
  margin: 10px;
}

@media(max-width: 420px){
  .logo-check-nav {
    font-size: 12px;
  }

  .logo-nav {
    font-size: 17px;
  }

}

@media(max-width: 640px){
  .nav-buttons-container div h6 {
    font-size: 12px;
  }

  .nav-buttons-container div {
    width: 55px;
  }

}

