.program-info-all-container {
    display: flex;
    height: 500px;
}

.program-details-container {
    width: 65%;
}

.program-info-all-container aside {
    width: 35%;
}

.program-length-container {
    display: flex;
}

.program-length-enroll-container {
    display: flex;
}