.program-info-all-container {
    display: flex;
    width: 100%;
}

.program-details-container h1 {
    border-bottom: 1px solid rgb(37, 37, 37);
    padding: 20px;
    margin: 0px;
    
}

.program-details-container {
    width: 65%;
    margin: 50px;
    height: min-content;
}

.program-details-container-top {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

}

.program-info-all-container aside {
    width: 35%;
    background-color: rgb(255, 255, 255);
    margin: 50px;
    border-radius: 15px;
    height: min-content;
}

.program-length-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.program-length-container h5 {
    font-size: 14px;
    font-weight: 500;
}

.program-length-enroll-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.enroll-edit-buttons-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.enroll-edit-buttons-container button {
    width: 50%;
    margin: 10px;
}

.program-tasks-list {
    padding-left: 0px;
    margin: 0px;
}

.description-box p {
    line-height: 1.8;
}

.program-tasks-list div h6 {
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
}

.program-tasks-list div {
    border-top: 1px solid rgb(207, 207, 207);
}

.length-days-number-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.program-details-container article {
    padding: 20px;
}

.description-box h3 {
    margin: 0px;
}

.program-info-all-container aside h2 {
    padding: 20px;
    border-bottom: 1px solid rgb(37, 37, 37);
    margin: 0px;
    margin-top: 10px;

}

.completion-rewards-container {
    display: flex;
    width: 100%;
    border-top: 4px solid rgb(44, 118, 255);
}

.score-awarded-container{
    width: 33%;
}

.badge-details-container{
    width: 33%;
}

.badge-container {
    width: 33%;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.badge-emblem-details {
    width: 200px;       
    height: 200px;      
    border-radius: 50%; 
    background-repeat: no-repeat;       
    background-position: center center; 
    background-size: cover;             
    border: 2px solid #000;          
}

.completion-rewards-header-container h2 {
    color: rgb(44, 118, 255);
    font-size: 40px;
}

.completion-rewards-header-container h4 {
    font-size: 20px;
}

.score-awarded-container p {
    font-size: 30px;
    color:rgb(44, 118, 255);
    font-weight: 500;
}

.badge-details-container{
    width: 33%;
}

.badge-details-container p {
    font-size: 20px;
}

.score-awarded-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-awarded-number-container {
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
    margin: 10px;
}

@media(max-width: 1180px){
    .program-info-all-container {
        flex-direction: column;
    }

    .program-details-container {
        margin: 0 auto;
        margin-top: 20px;
        width: 90%;
    }
    .program-info-all-container aside {
        margin: 0  auto;
        margin-top: 30px;
        width: 90%;
    }

    .description-box p {
        font-size: 12px;
    }
    .completion-rewards-header-container h2 {
        font-size: 18px;
    }

    .badge-emblem-details {
        width: 80px;       
        height: 80px; 

    }
    .completion-rewards-header-container h4 {
        font-size: 14px;
    }
    .badge-details-container p {
        font-size: 13px;
    }

    .score-awarded-container p {
        font-size: 15px;
    }
    .score-awarded-container {
        flex-direction: column;
    }

    .badge-details-container {
        border-left: 1px solid rgb(211, 211, 211);
        border-right: 1px solid rgb(211, 211, 211);
        
    }
}