.program-form {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 650px;
    max-width: 900px;
    min-width: 220px;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 50px;
    border-radius: 15px;
}

.name-length-container div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.name-length-container {
    display: flex;
}

.program-form-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
    margin-right: 20px;
    height: 300px;
}

.program-form-left div {
    display: flex;
    flex-direction: column;
}
.program-form-left div label {
    margin-top: 20px;
}

.program-form-right {
    width:  100%;
    display: flex;
    flex-direction: column;
}

.add-task-button {
    margin: 5px;
    height: 29px;
    width: 200px;
    margin: 10px auto;
}

.desc-container {
    display: flex;
    flex-direction: column;
}

.desc-container textarea {
    height: 100px;
    resize: none;
}

.created-task-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    padding-left: 5px;
}

.created-task-container h6 {
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
}

.task-delete {
    height: 50px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tasks-container {
    width: 95%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #e9ecf1;
    /* border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    padding: 5px;
    margin: 0 auto;
}

.task-delete svg {
    font-size: 20px;
}

.tasks-list-container {
    overflow-y: auto; /* Vertical scroll */
    height: 200px;
}

.program-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finish-program-form-button {
    margin: 25px;
    width: 180px;
    height: 50px;
    font-size: 17px;
}

.tasks-list-container::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}
.tasks-list-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
.tasks-list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}
.tasks-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.tasks-list-container::-webkit-scrollbar-corner {
    background: #f1f1f1;
}



.desc-container textarea::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}
.desc-container textarea::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
.desc-container textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}
.desc-container textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.desc-container textarea::-webkit-scrollbar-corner {
    background: #f1f1f1;
}